@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
	font-family: 'Quicksand', sans-serif;
	display: grid;
	grid-template-columns: minmax(1rem, 1fr) minmax(0, 1024px) minmax(1rem, 1fr);
}

body > * {
	grid-column: 2 / -2;
}
